[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "alembic>=1.17.2",
    "fastapi[standard]>=0.127.1",
    "pydantic-settings>=2.12.0",
    "sqlalchemy>=2.0.45",
]
